.card {
    display: flex;
    flex-direction: column;
    width: 206px;
    height: 272px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    color: var(--white);
}

.card__image {
    width: 206px;
    height: 206px;
}

.card__info {
    background-color: var(--gray);
    width: 206px;
    height: 66px;
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    padding: 0 7px;
}

.card__title, .card__author {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card__title {
    font-size: var(--font-size-sm);
}

.card__author {
    font-size: var(--font-size-xs);
    font-weight: 400;
}

.smallCard {
    flex-direction: row;
    width: 80%;
    max-width: 347px;
    height: 80px;
}

.smallCard .card__image{
    width: 80px;
    height: 80px;
}

.smallCard .card__info {
    height: 100%;
}

.card__title, .card__author {
    white-space: unset;
}