@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700;900&display=swap');

:root {
    --green: #04B69B;
    --blue: #1FA6C0;
    --light-blue: #6FC0CF;
    --extra-light-blue: #D0ECF1;
    --gray: #9F9F9F;
    --dark-gray: #414547;
    --white: #FFFFFF;
    --red: #A25050;

    --font-size-xg: 48px;
    --font-size-lg: 36px;
    --font-size-md: 24px;
    --font-size-sm: 16px;
    --font-size-xs: 14px;
    --font-size-xxs: 8px;

    --font: 'Inter', sans-serif
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font);
    background-color: var(--dark-gray);
    color: var(--white);
}